<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit and update User</h2>
    <form action="/user/<%=user._id %>?over=PUT" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%=user.name%>">
        </div>  
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" value="<%=user.email%>">
        </div>
        <div>
            <label for="age">Age: </label>
            <input type="text" name="age" id="age" value="<%=user.age%>">
        </div>
        <div>
            <label for="gender">Gender: </label>
            <input type="text" name="gender" id="gender" value="<%=user.gender%>">
        </div>
        <br>
        <button>update User</button>
    </form>
    <br>
    <a href="/user/<%= user._id %>">Cancel</a>
</body>
</html>